html, body {
    margin: 0 auto;
}
img {
    width: 100px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.profile-userpic {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  