{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href='{% static "css/basic.css" %}'>
    <title>{{ name }}</title>
</head>
<body>
    <div class="center-block" style="width:50%">
        <div class="col-sm-4">
            <img src='http://www.about.tarung2017.com/foto/407.jpg' alt="My image" class="profile-userpic img-circle img-responsive">
            <h1>Ardian</h1>
            <article>NPM : 1706979184</article>
            <article>Umur: 19</article>
            <article>Tempat Kuliah: UI</article>
            <article>Hobi: Roaming around</article>
            <p>Nama gua Ardian Ghifari biasanya dipanggil Ardian. Gua biasanya kemana2 bareng Azhar karena kita sekosan, kadang juga bareng Aryo. Gua orangnya kangen rumah dan setiap minggu pulang ke Bekasi.</p>
        </div>
        <div class="col-sm-4">
            <img src='{% static "img/foto.jpg" %}' alt="My image" class="profile-userpic img-circle img-responsive">
            <h1>Ferro</h1>
            <article>NPM : 1706028612</article>
            <article>Umur: 19</article>
            <article>Tempat Kuliah: UI</article>
            <article>Hobi: Tidur</article>
            <p>Hai, nama gua ferro, pake f bukan v, r nya ada dua bukan cuman satu. Hobi gua gak banyak, yaaa berhubung gua anak fasilkom bisa ditebak lah ya, salah satunya main game dan yang lain baca novel. Dari kecil gua suka banget sama yang namanya cerita, jadi kebayanglah kenapa gua kuat baca novel yang isinya teks semua. Bahkan alasan gua suka main game itu demi ceritanya. Pokoknya asal ceritanya seru gua suka deh. Tapi, gua gak terlalu suka film karena ceritanya biasanya pendek.</p>
        </div>
        <div class="col-sm-4">
            <img src='http://www.about.tarung2017.com/foto/509.jpg' alt="My image" class="profile-userpic img-circle img-responsive">
            <h1>Aziz</h1>
            <article>NPM : 1706028612</article>
            <article>Umur: 19</article>
            <article>Tempat Kuliah: UI</article>
            <article>Hobi: UI</article>
            <p>Nama saya Aziz, manusia langka yang ada di Fasilkom. Introvert tapi cerewet, dan masih banyak yang belum Saia ketahui.</p>
        </div>
    </div>
</body>
</html>
